body{
margin:0;
font-family:Arial;
background:url(bg.jpg);
background-size:cover;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
background:rgba(0,0,0,0.7);
padding:30px;
width:350px;
color:white;
border-radius:10px;
}

input,select{
width:100%;
padding:10px;
margin:8px 0;
border:none;
border-radius:5px;
}

button{
width:100%;
padding:10px;
background:#28a745;
border:none;
color:white;
font-size:16px;
cursor:pointer;
}

a{
color:#00ffff;
text-decoration:none;
}